@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .support-ios {
    min-height: 100vh; /* Fallback */
    min-height: calc(var(--vh, 1vh) * 100);
  }
}

body {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
a {
  text-decoration-line: underline;
  text-decoration-color: #ec4899;
}
